@page
@model Falcons.Pages.management.User.RoleManagement.EditModel
@{
    ViewData["Title"] = "Edit Role";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Edit Role</div>
            </div>
            @Html.Raw(Model.message)
            <div class="card-body">
                <form method="post">
                    <div class="form-group form-group-default">
                        <label asp-for="identityRole.Id"></label>
                        <input class="form-control" value="@Model.identityRole.Id" disabled />
                        <input class="form-control" type="hidden" asp-for="EditedRoleID" value="@Model.identityRole.Id" />
                    </div>
                    <div class="form-group form-group-default">
                        <label asp-for="identityRole.Name"></label>
                        <input class="form-control" asp-for="EditedRoleName" value="@Model.identityRole.Name" required />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary btn-lg" />
                        <a href="/management/User/RoleManagement/Index" class="btn btn-primary btn-lg ml-3">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>