@page
@model Falcons.Pages.management.IndexModel
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Dashboard";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <p class="h2">Hi @UserManager.GetUserName(User), Welcome to Falcons Cinema Management System !</p>
            </div>
        </div>
    </div>
</div>
