@page
@using Newtonsoft.Json;
@model Falcons.Pages.CheckoutModel
@{
    ViewData["Title"] = "Checkout";
}

<div class="row">
    <div class="col-md-8">
        <h3>Product</h3>
        <div id="cart">
            <!-- Product Menu -->
        </div>
    </div>
    <div class="col=md-4">
        <div class="row">
            <div class="col-md-12"><h3>Summary</h3></div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <h5>Total Price</h5>
            </div>
            <div class="col-md-6">
                <h5 id="TotalPrice"></h5>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12">
                <form method="post" id="PayNow">
                    <input type="hidden" name="json" id="json" />
                    <button class="btn btn-primary" type="submit">Pay Now</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
    $(function () {
        @{
            string ProductDetailjson = JsonConvert.SerializeObject(Model.ProductDetails);
            string Productjson = JsonConvert.SerializeObject(Model.Products);
            string Menujson = JsonConvert.SerializeObject(Model.Menus);
        }
        var Product = @Html.Raw(Productjson);
        var ProductDetail = @Html.Raw(ProductDetailjson);
        var Menu = @Html.Raw(Menujson);

        function AppendToCart(title, description, price, imgUrl, id) {
            if (imgUrl != "/assets/img/No-Image.png") {
                imgUrl = "/assets/img/menus/" + imgUrl;
            }
            $("div#cart").append("<div class='row mt-5'>" +
                "<div class='col-md-3'>" +
                "<img style='max-width:100%;' src='" + imgUrl + "' />" +
                "</div>" +
                "<div class='col-md-9'>" +
                "<div style=''font-size:20px;'>" + title + "</div>" +
                "<div>" +
                "<p>" + description + "</p>" +
                "</div>" +
                "<div>RM " + price + "</div>" +
                "<div>" +
                "</div>" +
                "</div>" +
                "</div>");
        }

        function AppendToAlarcarteCart(title, description, price, imgUrl, id) {
            if (imgUrl != "/assets/img/No-Image.png") {
                imgUrl = "/assets/img/products/" + imgUrl;
            }

            $("div#cart").append("<div class='row mt-5'>" +
                "<div class='col-md-3'>" +
                "<img style='max-width:100%;' src='" + imgUrl + "' />" +
                "</div>" +
                "<div class='col-md-9'>" +
                "<div style=''font-size:20px;'>" + title + "</div>" +
                "<div>" +
                "<p>" + description + "</p>" +
                "</div>" +
                "<div>RM " + price + "</div>" +
                "<div>" +
                "</div>" +
                "</div>" +
                "</div>");
        }

        let TotalSummaryPrice = 0;

        if (typeof (Storage) !== "undefined") {
            let cartMenuArray = [];
            if (!(localStorage.getItem("FnBMenuCart") == null || localStorage.getItem("FnBMenuCart") == "")) {
                cartMenuArray = JSON.parse(localStorage.getItem("FnBMenuCart"));
            }

            if (cartMenuArray.length > 0) {
                for (let i = 0; i < cartMenuArray.length; i++) {
                    //product name
                    let title = "";
                    let IMGLink = "";
                    let id = 0;
                    for (let k = 0; k < Menu.length; k++) {
                        if (cartMenuArray[i].MenuID == Menu[k].MenuID) {
                            title = Menu[k].PackageName;
                            //IMGLink = Menu[k].ImageURL.split(",", 1);
                            if (Menu[k].ImageURL == null || Menu[k].ImageURL == "") {
                                IMGLink = "/assets/img/No-Image.png";
                            } else {
                                IMGLink = Menu[k].ImageURL.split(",", 1);
                            }
                            id = i;
                        }
                    }

                    let ProductDescription = "";
                    let TotalPrice = 0;
                    //console.log(cartMenuArray[i].ProductDetail);

                    //process ProductDetail in the cart one by one
                    for (let y = 0; y < cartMenuArray[i].ProductDetail.length; y++) {
                        //find product detail size first
                        for (let j = 0; j < ProductDetail.length; j++) {
                            if (cartMenuArray[i].ProductDetail[y].ProductDetailID == ProductDetail[j].ProductDetailID) {
                                //find product name
                                for (let u = 0; u < Product.length; u++) {
                                    //console.log("Product : " + Product[u].ProductID);
                                    //console.log("Product ID: " + ProductDetail[j].ProductID);
                                    if (Product[u].ProductID == ProductDetail[j].ProductID) {
                                        console.log("Found");
                                        if (y == 0) {
                                            ProductDescription = Product[u].ProductTitle + " (" + ProductDetail[j].Size +")";
                                            TotalPrice = ProductDetail[j].ProductPrice;
                                        } else {
                                            ProductDescription = ProductDescription + "<br/>" + Product[u].ProductTitle + " (" + ProductDetail[j].Size + ")";
                                            TotalPrice += ProductDetail[j].ProductPrice;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    TotalSummaryPrice += TotalPrice;
                    //console.log("\nTitle" + title + "\n Description " + ProductDescription + "\nPrice " + TotalPrice + "\nImg " + IMGLink);
                    AppendToCart(title, ProductDescription, TotalPrice, IMGLink, id);
                }
            }

            //A la carte Product
            let cartArray = [];
            if (!(localStorage.getItem("FnBProductCart") == null || localStorage.getItem("FnBProductCart") == "")) {
                cartArray = JSON.parse(localStorage.getItem("FnBProductCart"));
            }

            if (cartArray.length > 0) {
                for (let i = 0; i < cartArray.length; i++) {
                    //product name
                    let title = "";
                    let IMGLink = "";
                    let ProductDescription = "";
                    let TotalPrice = 0;
                    let id = 0;
                    for (let k = 0; k < ProductDetail.length; k++) {
                        if (cartArray[i].ProductDetailID == ProductDetail[k].ProductDetailID) {
                            ProductDescription = ProductDetail[k].Size + " x " + cartArray[i].quantity;
                            TotalPrice = ProductDetail[k].ProductPrice * cartArray[i].quantity;
                            id = i;

                            for (let o = 0; o < Product.length; o++) {
                                if (Product[o].ProductID == ProductDetail[k].ProductID) {
                                    title = Product[o].ProductTitle;
                                    //IMGLink = Product[o].ImageURL.split(",", 1);
                                    if (Product[o].ImageURL == null || Product[o].ImageURL == "") {
                                        IMGLink = "/assets/img/No-Image.png";
                                    } else {
                                        IMGLink = Product[o].ImageURL.split(",", 1);
                                    }
                                }
                            }
                        }

                    }

                    //console.log("\nTitle" + title + "\n Description " + ProductDescription + "\nPrice " + TotalPrice + "\nImg " + IMGLink);
                    TotalSummaryPrice += TotalPrice;
                    AppendToAlarcarteCart(title, ProductDescription, TotalPrice, IMGLink, id);
                }
            }
        }

        $("h5#TotalPrice").text("RM " + TotalSummaryPrice);


        let CheckoutMenus = [];
        let Products = [];
        let CheckoutJsonContainer = new Object();
        if (!(localStorage.getItem("FnBProductCart") == null || localStorage.getItem("FnBProductCart") == "")) {
            Products = JSON.parse(localStorage.getItem("FnBProductCart"));
        }

        if (!(localStorage.getItem("FnBMenuCart") == null || localStorage.getItem("FnBMenuCart") == "")) {
            CheckoutMenus = JSON.parse(localStorage.getItem("FnBMenuCart"));
        }

        CheckoutJsonContainer.CheckoutMenus = CheckoutMenus;
        CheckoutJsonContainer.Products = Products;

        $("input#json").val(JSON.stringify(CheckoutJsonContainer));

        $("#PayNow").on("click", function (e) {
            e.preventDefault();

            if (!(localStorage.getItem("FnBProductCart") == null || localStorage.getItem("FnBProductCart") == "")) {
                localStorage.removeItem("FnBProductCart");
            }

            if (!(localStorage.getItem("FnBMenuCart") == null || localStorage.getItem("FnBMenuCart") == "")) {
                localStorage.removeItem("FnBMenuCart");
            }

            $(this).submit();
        });

        /*$("button#PayNow").click(function () {
            let CheckoutMenus = [];
            let Products = [];
            let CheckoutJsonContainer = new Object();
            if (!(localStorage.getItem("FnBProductCart") == null || localStorage.getItem("FnBProductCart") == "")) {
                Products = JSON.parse(localStorage.getItem("FnBProductCart"));
            }

            if (!(localStorage.getItem("FnBMenuCart") == null || localStorage.getItem("FnBMenuCart") == "")) {
                CheckoutMenus = JSON.parse(localStorage.getItem("FnBMenuCart"));
            }

            CheckoutJsonContainer.CheckoutMenus = CheckoutMenus;
            CheckoutJsonContainer.Products = Products;

            $.ajax({
                type: 'POST',
                url: '/Checkout',
                contentType: 'application/json',
                data: JSON.stringify(CheckoutJsonContainer),
                success: function(result) {
                    console.log("AJAX Sent to Checkout");
                    console.log(result);
                }
            });
        });*/
    });
    </script>
}