@page
@model Falcons.Pages.MovieDetailModel
@{
}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <label>Name: </label>
                <label style="font-size:20px;">@Model.movies.MovieName</label>
            </div>
            <div class="col-lg-12">
                <label>Language: </label>
                <label style="font-size:20px;">@Model.movies.Language</label>
            </div>
            <div class="col-lg-12">
                <label>Subtitle: </label>
                <label style="font-size:20px;">@Model.movies.Subtitle</label>
            </div>
        </div>
    </div>
</section>