@page
@model Falcons.Pages.management.FnB.Inventory.DeleteModel
@{
    Layout = "_ManagementLayout";

    ViewData["Title"] = "Food and Beverages Delete Food Item";
}
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.FoodType.Title)
    </dt>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.FoodType.Type)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.FoodType.Title)
    </dd>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.FoodType.Type)
    </dd>
</dl>

<div class="alert alert-danger" role="alert">
    Continue proceed will delete this inventory item and the inventory records related to it !
</div>

<form method="post">
    <input type="hidden" asp-for="FoodType.FID" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-page="./Index" class="btn btn-primary">Back to List</a>
</form>