@page
@model Falcons.Pages.management.FnB.Inventory.EditModel
@{
    ViewData["Title"] = "Edit Inventory Item  - Food and Beverages";
}
<div class="row">
    @if (TempData["message"] != null)
    {
        @Html.Raw(TempData["message"].ToString());

    }
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    <div class="form-group form-group-default">
                        <label asp-for="FoodType.FID"></label>
                        <input class="form-control" asp-for="FoodType.FID" disabled />
                        <input class="form-control" type="hidden" asp-for="FoodType.FID" />
                    </div>
                    <div class="form-group form-group-default">
                        <label asp-for="FoodType.Title"></label>
                        <input class="form-control" asp-for="FoodType.Title" required />
                    </div>
                    <div class="form-group form-group-default">
                        <label asp-for="FoodType.Type"></label>
                        <input class="form-control" asp-for="FoodType.Type" required />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary btn-lg" />
                        <a href="/management/FnB/Inventory/Index" class="btn btn-primary btn-lg ml-3">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>