@page
@model Falcons.Pages.management.Movies.MoviesModel
@{
    Layout = "_ManagementLayout";

    ViewData["Title"] = "Movies";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Movies</div>
            </div>
            <div class="card-body">
                <!-- Button -->
                <div class="d-flex">
                    <button class="btn btn-primary btn-round ml-auto mb-3" data-toggle="modal" data-target="#addCategoryModal">
                        <i class="fa fa-plus"></i>
                        Add Movie
                    </button>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header no-bd">
                                <h5 class="modal-title">
                                    <span class="fw-mediumbold">
                                        New
                                    </span>
                                    <span class="fw-light">
                                        Movie
                                    </span>
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p class="small">Please fill in all the field.</p>
                                <form role="form">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label>Movie Name</label>
                                                <input id="MovieName" type="text" class="form-control" placeholder="Movie Name">
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label>Language</label>
                                                <input id="Language" type="text" class="form-control" placeholder="Language">
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label>Subtitle</label>
                                                <input id="Subtitle" type="text" class="form-control" placeholder="Subtitle">
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label>Duration</label>
                                                <input id="Duration" type="text" class="form-control" placeholder="Duration">
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label>Genre</label>
                                                <input id="Genre" type="text" class="form-control" placeholder="Genre">
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label>Category</label>
                                                <input id="MovieCategory" type="text" class="form-control" placeholder="Category">
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label>Director</label>
                                                <input id="Director" type="text" class="form-control" placeholder="Director">
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label>Cast</label>
                                                <input id="MovieCast" type="text" class="form-control" placeholder="Cast">
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label>Distributor</label>
                                                <input id="Distributor" type="text" class="form-control" placeholder="Distributor">
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default">
                                                <label>Released Date</label>
                                                <input id="ReleasedDate" type="text" class="form-control" placeholder="Released Date">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group form-group-default">
                                                <label>Synopsis</label>
                                                <textarea class="form-control" rows="8" placeholder="Synopsis of movie here ..."></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer no-bd">
                                <button type="button" id="addCategoryButton" class="btn btn-primary">Add</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Table -->
                <div class="table-responsive">
                    <table id="category-row" class=" display table table-striped table-hover" cellspacing="0" width="100%">
                        <thead>
                            <tr role="row"></tr>

                            <tr role="row">
                                <th>ID</th>
                                <th>Name</th>
                                <th>Synopsis</th>
                                <th>Language</th>
                                <th>Subtitle</th>
                                <th>Duration</th>
                                <th>Genre</th>
                                <th>Category</th>
                                <th>Director</th>
                                <th>Cast</th>
                                <th>Distributor</th>
                                <th>Released Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @*<tr>
                                <td>1</td>
                                <td>Eternals</td>
                                <td>A race of immortal beings known as the Eternals, which are created by the Celestials, has lived on Earth for thousands of years. They not only shape the planet`s civilisations and history, they also protect humans from the evil Deviants.</td>
                                <td>English</td>
                                <td>Englsh, Chinese</td>
                                <td>155 minutes</td>
                                <td>P13</td>
                                <td>Action, Adventure</td>
                                <td>Chloé Zhao</td>
                                <td>Angelina Jolie, Salma Hayek, Richard Madden</td>
                                <td>Walt Disney Pictures</td>
                                <td>4 November 2021</td>
                                <td>
                                    <div class="form-button-action">
                                        <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>*@


     

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>