@page
@model Falcons.Pages.management.Movies.ReportModel
@{
    Layout = "_ManagementLayout";

    ViewData["Title"] = "Report";
}
<div>
    <h3>Movies Purchased Report</h3>
    <iframe width="600" height="373" src="https://app.powerbi.com/view?r=eyJrIjoiYmIwZmVlZTktMDg2Zi00MzA5LWIyMjMtOGRhY2U5MzgwMmIyIiwidCI6IjRlZGY5MzU0LTBiM2ItNDI5YS1iYjhmLWYyMWY5NTdmMWQxYyIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
    <br />
    <a href="https://app.powerbi.com/view?r=eyJrIjoiYmIwZmVlZTktMDg2Zi00MzA5LWIyMjMtOGRhY2U5MzgwMmIyIiwidCI6IjRlZGY5MzU0LTBiM2ItNDI5YS1iYjhmLWYyMWY5NTdmMWQxYyIsImMiOjEwfQ%3D%3D" class="btn btn-primary">Print</a>
</div>

<div>

</div>
