@page
@model Falcons.Pages.management.FnB.Category.DeleteModel
@{

    ViewData["Title"] = "Delete Category - Food and Beverages";
}

<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ProductCategory.CategoryName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ProductCategory.CategoryName)
    </dd>
</dl>

<div class="alert alert-danger" role="alert">
    Continue proceed will delete this category and the product related to it !
</div>

<form method="post">
    <input type="hidden" asp-for="ProductCategory.CategoryID" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-page="./Index" class="btn btn-primary">Back to List</a>
</form>