@page
@model Falcons.Pages.Ticketing.seat_selectionModel
@{
    ViewData["Title"] = "Seat Booking";
}

@section Styles {
    <link href="~/css/Seat.css" rel="stylesheet" />
}

<div class="section-title">
    <h4>Select Seat</h4>
</div>


    <div class="movie-container">
        <select name="movie-name" id="movieName">
            <option value="">Select a movie</option>
        </select>
    </div>

    <div class="movie-container">
        <select name="book-date" id="date">
            <option value="">Select date</option>
        </select>
    </div>

    <div class="movie-container">
        <select name="book-time" id="time">
            <option value="">Select time</option>
        </select>
    </div>

<ul class="showcase">
    <li>
        <div class="seat"></div>
        <small>Available</small>
    </li>

    <li>
        <div class="seat selected"></div>
        <small>Selected</small>
    </li>

    <li>
        <div class="seat sold"></div>
        <small>Sold</small>
    </li>
</ul>

<div class="container2">
    <div class="screen"></div>

    <div class="seats">
        <div class="row2">
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
        </div>

        <div class="row2">
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat sold"></div>
            <div class="seat"></div>
            <div class="seat"></div>
        </div>

        <div class="row2">
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat sold"></div>
        </div>

        <div class="row2">
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat sold"></div>
            <div class="seat"></div>
            <div class="seat"></div>
        </div>

        <div class="row2">
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
        </div>

        <div class="row2">
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
        </div>
    </div>
</div>

<p class="text2">
    You have selected <span id="count">0</span> seat.
    Total amount is <span id="total">0</span>
</p>
