@page
@using Newtonsoft.Json;
@model Falcons.Pages.Ticketing.SeatBookingModel
@section styles{
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link href="~/jQuery-Seat-Chart/jquery.seat-charts.css" rel="stylesheet" />
}

@{
    ViewData["Title"] = "SeatBooking";
}

<h2>Seat Booking</h2>

<div class="wrapper">
    <div class="container">

        <div class="showcase">
            <div id="legend"></div>
        </div>

        <div id="seat-map" style="align-items: center">
            <div class="screen">
                <h3 style="text-align:center; color: black;">Screen</h3>
            </div>

        </div>
        <div class="booking-details">
            <h3>Book Your Ticket</h3>


            <h4> Seats Selected (<span id="counter">0</span>):</h4>
            <ul id="selected-seats"></ul>

            Ticket Price: <b>RM <span id="total">0</span></b>

            <div></div>
            <button class="button checkout-button btn-block" id="AddToCart">Checkout &raquo;</button>


        </div>
    </div>
</div>

<div>
    <input name="AppUrl" type="hidden" value="/" />
</div>

@section Scripts{

    <script src="~/jQuery-Seat-Chart/jquery.seat-charts.js"></script>

    @{
        String[] BookedIDs = new string[Model.BookedSeats.Count];
        int i = 0;
        foreach (var item in Model.BookedSeats)
        {
            BookedIDs[i] = item.SeatID;
            i += 1;
        }
        string SerializedBookedIDs = JsonConvert.SerializeObject(BookedIDs);
    }

    <script>
        var firstSeatLabel = 1;

        $(document).ready(function () {
            var $cart = $('#selected-seats'),
                $counter = $('#counter'),
                $total = $('#total'),
                sc = $('#seat-map').seatCharts({
                    map: [
                        'nnnnnnnnnnnnn',
                        'nnnnnnnnnnnnn',
                        'nnnnnnnnnnnnn',
                        'nnnnnnnnnnnnn',
                        'ccccccccccccc'
                    ],
                    seats: {
                        n: {
                            price: 14,
                            classes: 'normal-ticket', //your custom CSS class
                            category: 'Adult'
                        },

                        c: {
                            price: 25,
                            classes: 'twin-seat',
                            category: 'Twin Seat'
                        }

                    },
                    naming: {
                        top: false,
                        getLabel: function (character, row, column) {
                            return firstSeatLabel++;
                        },
                    },
                    legend: {
                        node: $('#legend'),
                        items: [
                            ['f', 'available', 'Adult Ticket'],
                            ['c', 'available', 'Row 5 - Twin Seat'],
                            ['f', 'unavailable', 'Sold']
                        ]
                    },
                    click: function () {
                        if (this.status() == 'available') {
                            //let's create a new <li> which we'll add to the cart items
                            $('<li>' + this.data().category + ' Seat # ' + this.settings.label + ': <b>RM ' + this.data().price + '</b> <a href="#" class="cancel-cart-item">[cancel]</a></li>')
                                .attr('id', 'cart-item-' + this.settings.id)
                                .data('seatId', this.settings.id)
                                .data('seatPrice', this.data().price)
                                .appendTo($cart);

                            /*
                             * Lets update the counter and total
                             *
                             * .find function will not find the current seat, because it will change its stauts only after return
                             * 'selected'. This is why we have to add 1 to the length and the current seat price to the total.
                             */
                            $counter.text(sc.find('selected').length + 1);
                            $total.text(recalculateTotal(sc) + this.data().price);

                            return 'selected';
                        } else if (this.status() == 'selected') {
                            //update the counter
                            $counter.text(sc.find('selected').length - 1);
                            //and total
                            $total.text(recalculateTotal(sc) - this.data().price);

                            //remove the item from our cart
                            $('#cart-item-' + this.settings.id).remove();

                            //seat has been vacated
                            return 'available';
                        } else if (this.status() == 'unavailable') {
                            //seat has been already booked
                            return 'unavailable';
                        } else {
                            return this.style();
                        }
                    }
                });

            //this will handle "[cancel]" link clicks
            $('#selected-seats').on('click', '.cancel-cart-item', function () {
                //let's just trigger Click event on the appropriate seat, so we don't have to repeat the logic here
                sc.get($(this).parents('li:first').data('seatId')).click();
            });

            //let's pretend some seats have already been booked
            //sc.get(['1_2', '4_1', '7_1', '7_2']).status('unavailable');
            sc.get(@Html.Raw(SerializedBookedIDs)).status('unavailable');

        });

        //get url query parameter
        function getQueryString(name) {
            let reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            let r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]);
            return null;
        }

        function recalculateTotal(sc) {
            var total = 0;

            //basically find every selected seat and sum its price
            sc.find('selected').each(function () {
                total += this.data().price;
            });

            return total;
        }

        $("#AddToCart").click(function () {
            var selectedSeats = [];

            var $selectedSeat = $('#selected-seats li').each(function () {
                var selectedSeat = {};
                selectedSeat.seatID = $(this).data("seatId");
                selectedSeat.seatPrice = $(this).data("seatPrice");
                selectedSeats.push(selectedSeat);
            });

            if (typeof (Storage) !== "undefined") {
                let cartArray = [];
                //check if cart json already exists
                if (!(localStorage.getItem("TicketCart") == null || localStorage.getItem("TicketCart") == "")) {
                    cartArray = JSON.parse(localStorage.getItem("TicketCart"));
                }

                //loop in cart to find and update
                let updateStatus = false;
                for (let f = 0; f < cartArray.length; f++) {
                    if (cartArray[f].ShowTimeID == getQueryString("id")) {
                        cartArray[f].SeatID = selectedSeats;
                        updateStatus = true;
                    }
                }

                //if not found after loop then create new
                if (!updateStatus) {
                    let cart = new Object();
                    cart.ShowTimeID = getQueryString("id");
                    cart.SeatID = selectedSeats;

                    //push item into array
                    cartArray.push(cart);
                }
                console.log(cartArray);

                

                localStorage.setItem("TicketCart", JSON.stringify(cartArray));
                console.log("inside " + JSON.stringify(cartArray));

                $("div#sys_msg").prepend('<div class="alert alert-success" role="alert" style="margin-top:1rem;margin-bottom:1rem;">' +
                    'Successfully added to your cart !' +
                    '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span> </button>' +
                    '</div>');
                setTimeout(function () {
                    //window.location.href = "/Cart";
                }, 1000);
            } else {
                console.log("no Local Storage available");
            }

        });

    </script>
}
